.navbar {
  background-color: #221f1f !important;
  padding: 10px 20px !important;
}

.nav-logo {
  width: 100px;
  height: 55px;
}

.navbar-nav {
  font-size: 90%;
}

.navbar-nav .nav-link {
  color: grey !important;
  font-weight: bold;
  margin-right: 15px;
}

.navbar-nav .nav-link:hover {
  color: #f5f5f1 !important;
}

.navbar-icons i {
  color: #f5f5f1;
  font-size: 1.2rem;
  margin-left: 15px;
  cursor: pointer;
}

.kids-text {
  color: #f5f5f1;
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 15px;
}

@media (max-width: 992px) {
  .navbar-collapse {
    text-align: center;
  }
  .navbar-icons {
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
}
